POSTGRES_DB=tiaozhanbei
POSTGRES_USER=tiaozhanbei
POSTGRES_PASSWORD=replace_with_a_long_random_database_password

DEEPSEEK_API_KEY=
WECHAT_LOGIN_ENABLED=true
WECHAT_APP_ID=
WECHAT_APP_SECRET=
ADMIN_TOKEN=replace_with_a_long_random_admin_token
